# Firebase Web API Key
FIREBASE_WEB_API_KEY="AIzaSyArVmmEeBYNl55gDMno29_RbML03AmSqB0"

# Firebase Service Account dosya yolu (opsiyonel)
FIREBASE_SERVICE_ACCOUNT_PATH=path/to/your/service-account.json

