*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --text-color: #eaf2ef;
    --background-color: #912f56;
    --font-family: "Indie Flower", cursive;
    text-decoration: none;
    list-style: none;
}

/*Body styles*/
body{
    background-color: #912f56;
    color: var(--text-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
}
/*Container*/
.container{
    position: relative;
    width: 850px;
    height: 550px;
    background-color:#eaf2ef ;
    color: #912f56;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 0 0 30px #eaf2ef;
    overflow: hidden;
}

